$primary: #3118a1;

$theme-colors: (
	'primary': $primary,
	'danger': #ff4136,
);

@import '../node_modules/bootstrap/scss/bootstrap';

.bg-white-70 {
	background-color: #a39f9fe5;
}

.text-primary-50 {
	color: #191092b6;
}

.bg-primary-50 {
	background-color: #383bda91;
}

.img-logo {
	width: 90%;
}

.main {
	padding: {
		bottom: 5rem;
	}
}

$fSizes: (
	2,
	3,
	4,
	5,
	6,
	7,
	8,
	9,
	10,
	11,
	12,
	13,
	14,
	15,
	16,
	17,
	18,
	19,
	20,
	21,
	22,
	23,
	24,
	25,
	26,
	27,
	28,
	30,
	31,
	32,
	33
);

@each $fontSize in $fSizes {
	.font-#{$fontSize} {
		font-size: #{$fontSize}px !important ;
	}
}

@each $fontSize in $fSizes {
	.text-s-#{$fontSize} {
		font-size: #{$fontSize}em !important ;
	}
}
