* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.landing-page {
	font-family: serif;
	background: rgb(0, 0, 0);
	background: linear-gradient(
			69deg,
			rgba(0, 0, 0, 0.8211659663865546) 3%,
			rgba(0, 0, 0, 0.8631827731092436) 43%,
			rgba(1, 1, 4, 0.8827906162464986) 97%
		),
		url('./bg.jpg') center top;
	/* background: linear-gradient(
			to right,
			rgba(230, 231, 233, 0.9),
			rgba(111, 112, 116, 0.3)
		),
		; */
	background-repeat: no-repeat;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	width: 100%;
	min-height: 100vh;
}

.logo {
	width: 100%;
	height: 200px;
}

.bg-costum {
	background-color: #1818c7;
}
.bg-orange {
	background-color: #f07b1b;
}
.bg-pink {
	background-color: #ff0852;
}
.bg-purple {
	background-color: #ce08ff;
}
.bg-teal {
	background-color: #08ff8c;
}
